  :root {
    --color_principal: #9f3647;
    --color_secundario: #2a2a2a;
    --color_texto: #ffff;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color_texto)
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: 600;
  }

  h3 {
    font-size: 2rem;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    color: var(--color_texto);
    font-family: "Nunito", sans-serif;
  }

  body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color_secundario);
    }

  header {
    background-color: var(--color_principal);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    position: static;
    top: 0;
    font-weight: bold;
    
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .logo h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .nav-items {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
  }

  .nav-items:not(:last-child):hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .nav-items:last-child {
    background-color: black;
  }


  .nav-items:last-child:hover {
    transform: scale(1.05);
  }


  #menu-desplegable {
    display: none;
  }

  /* -->MAIN<--- */
  main {
  }

  .section_1 {
        background: linear-gradient(to right top,
        rgba(0, 0, 0, 0.54),
        rgba(177, 176, 176, 0.742)) center center / cover, url(../img/mario-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
  }

  .section_1-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 70vw;
    max-width: 1440px;
  }

  .portada-pelicula {
    width: 200px;
    height: auto;
  }

  .portada-pelicula img {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
  }

  .informacion {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 2rem;
    flex-grow: 1;
  }

  .informacion h2 {
    margin-bottom: 3rem;
  }


  .infodirectores {
    display: flex;
    justify-content: space-between;
  }

  /* Seccion 2 */

  .section_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0
  }

  .section_2-contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 70vw;
    justify-content: space-evenly;
    max-width: 1440px;
  }


  .iframe-contenedor {
    aspect-ratio: 560/315;
    min-width: 300px;
    min-height: 204px;
    flex-grow: 1;
  }

  #iframe-youtube {
    width: 100%;
    height: 100%;
  }

  .section_2-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .redes {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }


  table{
    border-collapse: separate;
    border-spacing: 1rem 1rem;
  }


  table tr td:first-child {
    font-weight: bold;
    padding-right: 1.5rem;
  }




  @media screen and (max-width:768px) {

    .section_1-contenido {
      width: 90vw;
    }

    .section_2-contenido {
      width: 90%;
    }

    .header-nav {
      display: none;
    }

    #menu-desplegable {
      display: inline-block;
    }

    .iframe-contenedor{
      width: 100%;
    }

    header {
      padding-inline: 30px;
    }

  }

  @media screen and (max-width: 490px) {

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.5rem;
    }


  }