:root {
  --color_principal: #9f3647;
  --color_secundario: #181419;
  --color_texto: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color_texto);
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color_secundario);
}

.mas_aclamadas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aclamadas {}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9f3647;
  width: 0 auto;
  height: 20vh;
}

.terminos a {
  text-decoration: none;
  color: var(--color_texto);
  padding: 3vh;
}

#terminos_admin {
  background: black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1vh;
}

.flecha {
  position: fixed;
  bottom: 1vh;
  right: 2vw;
}