:root {
  --color_principal: #9f3647;
  --color_secundario: #181419;
  --color_texto: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color_texto);
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--color_secundario);
}

::-webkit-scrollbar {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #9f3647;
}

hr {
  border: 1px solid #9f3647;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.mas_aclamadas {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
  transition-property: all;
  transition-duration: 2s;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 40px;
}

.aclamadas {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.peliculaItem {
  border-radius: 25px;
  width: 170px;
  min-width: 170px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  flex-direction: column;
  justify-content: space-between;
}

.imgAclamada {
  border-radius: 5%;
  width: 95%;
  height: 95%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9f3647;
  width: 0 auto;
  height: 30vh;
}

.terminos a {
  text-decoration: none;
  color: var(--color_texto);
  padding: 3vh;

}

#terminos_admin {
  background: black;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1vh;
}

.flecha {
  position: fixed;
  bottom: 1vh;
  right: 1vw;
}